# =========================
# Конфигурация WordPress
# =========================
# ОБЯЗАТЕЛЬНО игнорируем файл с паролями от базы данных!
wp-config.php

# =========================
# Пользовательский контент и кэш
# =========================
# Игнорируем картинки, которые загружаются через админку
wp-content/uploads/
# Игнорируем кэш и временные файлы обновлений
wp-content/cache/
wp-content/upgrade/
wp-content/backup-db/

# =========================
# Кастомные папки (по твоему запросу)
# =========================
# Слэш в начале означает, что мы ищем эти папки именно в корне сайта
/img/
/verstka/

# =========================
# Системные файлы ОС
# =========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =========================
# Файлы редакторов кода и зависимости
# =========================
.idea/
.vscode/
node_modules/
vendor/
*.log

# =========================
# Плагины и темы (ОПЦИОНАЛЬНО)
# =========================
# Если ты хочешь, чтобы Git следил ТОЛЬКО за твоим плагином adw-template 
# и твоей темой, можно раскомментировать строки ниже, чтобы игнорировать чужие:
 wp-content/plugins/*
 !wp-content/plugins/adw-template/
 wp-content/themes/*
 !wp-content/themes/adoweb/